<!-- ======= Intro Section ======= -->
<div id="home" class="intro route bg-image" style="background-image: url(assets/img/intro-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <!--<p class="display-6 color-d">Hello, world!</p>-->
                <h1 class="intro-title mb-4">I am Steveen Echeverri</h1>
                <p class="intro-subtitle"><span class="text-slider-items">Web Developer,Web
                        Designer,Frontend Developer,Graphic Designer</span><strong class="text-slider"></strong></p>
            </div>
        </div>
    </div>
</div><!-- End Intro Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div *ngFor="let person of _service.profile" class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img">
                                            <img [src]="person.url" class="img-fluid rounded b-shadow-a"
                                                alt="">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="about-info">
                                            <p><span class="title-s">Name: </span> <span>{{ person.name }}</span></p>
                                            <p><span class="title-s">Profile: </span> <span>{{ person.profession }}</span>
                                            </p>
                                            <p><span class="title-s">Email: </span> <span>{{ person.email }}</span></p>
                                            <p><span class="title-s">Phone: </span> <span>{{ person.phone }}</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-mf">
                                    <p class="title-s">Skill</p>
                                    <span>HTML</span> <span class="pull-right">85%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 85%;"
                                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>CSS3</span> <span class="pull-right">75%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 75%"
                                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>PHP</span> <span class="pull-right">50%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 50%"
                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 90%"
                                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            About me
                                        </h5>
                                    </div>
                                    <p class="lead">
                                        Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur
                                        arcu erat, accumsan id
                                        imperdiet et, porttitor
                                        at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                                        Nulla
                                        porttitor accumsan tincidunt.
                                    </p>
                                    <p class="lead">
                                        Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit
                                        tortor eget felis
                                        porttitor volutpat. Vestibulum
                                        ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
                                    </p>
                                    <p class="lead">
                                        Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in,
                                        elementum id enim.
                                        Nulla porttitor accumsan
                                        tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
</main>