<!-- ======= Services Section ======= -->
<section id="service" class="services-mf pt-5 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center pt-5">
                    <h3 class="title-a text-light">
                        Services
                    </h3>
                    <p class="subtitle-a text-light">
                        These are some services I can help you with
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-monitor"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Web Design</h2>
                        <p class="s-description text-center">
                            Design and propotype of web applications based on usability and user experience.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-code-working"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Web Development</h2>
                        <p class="s-description text-center">
                            Complete development of web sites and applications based on your requirements.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-search"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">SEO web</h2>
                        <p class="s-description text-center">
                            Positioning and techniques for better organic results in web search engines.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Responsive Design</h2>
                        <p class="s-description text-center">
                            Adaptability for applications and websites to different interfaces and devices such as mobiles and tablets.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-paintbrush"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Graphic Design</h2>
                        <p class="s-description text-center">
                            Design and creation of branding, advertising and illustrations and different multimedia products.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-stats-bars"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Marketing Services</h2>
                        <p class="s-description text-center">
                            Inbound Marketing advertising and commercial strategies for automated sales processes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->