<!-- ======= Footer ======= -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="copyright-box">
                    <p class="copyright">&copy; {{ year }} Copyright <strong>Portfolio Templete</strong>. All Rights Reserved</p>
                    <div class="credits">
                        Designed by <a href="https://styvensoft.github.io">StyvenSoft</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End  Footer -->